
$container-background-color:#FDBB2F ;
$main-container-border-color:#E2AA11;
$text-color: #404040;
$result-background: white;
$result-border:#e6e6e6;
$disable-text-color: #989898;
$result-item-border-bottom-color:#eaeaea;
$result-item-hover-color:#dff6ff;

.search-container{
    background-color: $container-background-color;
    border: 1px solid $main-container-border-color;
    border-radius: 3px;
    height: 200px;
    min-width: 300px;
    width: 100%;
    padding: 10px 25px;
    position: relative;

    h1{
        color:$text-color;
        font-size: 2em;
        font-weight: 700;
        line-height: 1.3em;
        text-align: left;
    }

    .input-container{
        display: flex;
        flex-direction:column;
        position: relative;

        label{
            color:$text-color;
            text-align: left;            
            margin-bottom: 10px;
            font-size: 0.875em;
        }
        
        img{
            height: 24px;
            width: auto;
            right: 5px;
            top: 33px;
            position: absolute; 
        }

        input{
            padding: 10px;
            border-radius: 3px;
        }

        .result-container{
            background-color:$result-background;
            min-height: 35px;
            min-width: 100%;
            border-radius: 3px;
            border: 1px solid $result-border !important;
            box-shadow: 0 2px 2px rgba(0,0,0,0.4);
            
            span{
                color:$text-color;
            }

            .disable{
                &:hover{
                    background-color: unset !important;
                }
                
                span{
                    color: $disable-text-color !important;
                    font-weight: 400 !important;
                }
            }

            .result-list-item{            
                border-bottom: 1px solid $result-item-border-bottom-color;
                height: 35px;
                display: flex;
                flex-direction: row;

                .icon-container{
                    height: 100%;
                    width: 4em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }


                .text-container{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start; 
                    padding-left: 10px;

                    span:first-child{
                        font-weight: 700;
                        font-size: 100%;
                    }
                    span:last-child{
                        font-weight: 400;
                        font-size: 85%;
                        color:gray;
                    }

                }

                &:hover{
                    background-color:$result-item-hover-color; 
                }
            }
        }
    }
}