<div class="search-container">
  <h1>Let’s find your ideal car</h1>

  <div class="input-container">
    <label for="searchInput">Pick-up Location</label>
    <img *ngIf="loading" src="https://cdn2.rcstatic.com/images/site_graphics/newsite/preloader64.gif">
    <input id="searchInput" #searchInputComponent type="text" [(ngModel)]="searchTerm" placeholder="city, airport, station, region, district..." />

    <div class="result-container" *ngIf="showResult && results.length > 0">
      <div class="result-list-item" *ngFor="let item of results" [ngClass]="{'disable':!item.placeType}" (click)="item.placeType && onItemClick(item)">
        <div class="icon-container" *ngIf=item.placeType>
          <span>
            {{item.placeType}}
          </span>
        </div>

        <div class="text-container">
          <span>
            {{item.name}}
          </span>

          <span>
            {{item.region}} <span *ngIf="item.region && item.country">,</span> {{item.country}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>